

.failure-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-img {
  width: 350px;
}
.f-hed {
  color: #ffffff;
  font-family: 'Lobster';
}
